.DS_Store
node_modules
.env
dist

.vscode
.idea

*.log

clash-kit
clash-kit.exe
config.yaml
profiles
ruleset

# clash 相关
cache.db
geoip.metadb
m.yaml
.current_profile
dns-helper


# ai coding
.agents
.github
.gemini